<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% if user_signed_in? %>

<%current_user.friends.each do |friend| %>



<div class ='friendship'>

  <div class ='image'>
    <img src="<%= friend.image %>">
  </div>
  <div class ="first-name "> <%= friend.first_name + " " + friend.last_name.chars.first%></div>


  <div class ="button">Unfriend</div>

</div>
<% end %>
<% end %>
</body>
</html>

